/* Regardless of theme */
.info {
    cursor: default;
}
  
.choice, .custom {
    cursor: pointer;
}

/* Light theme */
@media (prefers-color-scheme: light) {
    html, body {
        width: 250px;
        background-color: #d8dee9;
    }

    .speed {
        width: 100%;
        padding: 4px;
        font-size: 1.5em;
        text-align: center;
        color: black;
    }
    
    .choice:hover, .custom:hover {
        background-color: #eceff4;
    }
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    html, body {
        width: 250px;
        background-color: #3b4252;
    }

    .speed {
        width: 100%;
        padding: 4px;
        font-size: 1.5em;
        text-align: center;
        color: whitesmoke;
    }
        
    .choice:hover, .custom:hover {
        background-color: #4c566a;
    }
}