/* Regardless of theme */
html, body {
    width: 250px;
    scrollbar-width: none;
}

.speed {
    width: 100%;
    padding: 4px;
    font-size: 1.5em;
    text-align: center;
}

.info {
    cursor: default;
}
  
.choice, .custom {
    cursor: pointer;
}

#sp_hid {
    display: none;
}

/* Light theme */
@media (prefers-color-scheme: light) {
    html, body {
        background-color: #d8dee9;
    }

    .speed {
        color: black;
    }
    
    .choice:hover, .custom:hover {
        background-color: #eceff4;
    }
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    html, body {
        background-color: #3b4252;
    }

    .speed {
        color: whitesmoke;
    }
        
    .choice:hover, .custom:hover {
        background-color: #4c566a;
    }
}